<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>GestureGuide</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Updated: Jun 14 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">GestureGuide</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Inicio</a></li>
          <li><a href="#about">Sobre nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a  href="{{ url_for('tutorial_page') }}">Tutorial</a></li>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{ url_for('starter_page') }}">Empezar Ya</a>

    </div>
  </header>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
            <h1>Transformando la Comunicación para Todos</h1>
            <p>Desarrollamos una herramienta innovadora que convierte texto y voz en lenguaje de señas en tiempo real.</p>
            <div class="d-flex">
              <a href="{{ url_for('starter_page') }}" class="btn-get-started">Empezar Ya</a>
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Ver Video</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img " data-aos="zoom-out" data-aos-delay="200">
            <div id="sketch-board-con">
              <div id="sketch-board">
                <div id="head">
                  <div id="lens">
                    <div id="upper-shadow"></div>
                    <div id="rect"></div>
                    <div id="eyes"></div>
                  </div>
                </div>
        
                <div id="ear">
                  <div id="ear-antenna"></div>
                </div>
        
                <div id="small-cap"></div>
        
                <div id="body">
                  <div id="shadow-box"></div>
                  <div id="pocket-area">
                      <div id="pocket"></div>
                    </div>
                </div>
        
                <div id="hands">
                  <div class="hand"></div>
                  <div class="hand"></div>
                </div>
        
              </div>
        
              <div id="robot-shadow"></div>
              
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section">

      <div class="container" data-aos="zoom-in">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 5,
                  "spaceBetween": 120
                },
                "1200": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="../static/assets/img/clients/TensorFlow New.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/Python.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/Flask.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/Git.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/icons8-opencv-48.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/Keras.png" width="75px" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="../static/assets/img/clients/NumPy.png" width="75px" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>

    </section><!-- /Clients Section -->

    <section id="about" class="about section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Acerca de Nosotros</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              El sistema emplea algoritmos sofisticados para reconocer gestos y movimientos específicos de las manos y la cara, interpretándolos en tiempo real y generando un texto comprensible.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Desarrollar IA para convertir lenguaje de señas a texto, mejorando accesibilidad.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Aprendizaje automático y visión por computadora para reconocer y traducir gestos en tiempo real.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Facilita comunicación entre sordos y oyentes, promoviendo inclusión.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>Bienvenidos a nuestro proyecto dedicado a la aplicación de inteligencia artificial para la traducción de lenguaje de señas a texto. En CRFS Señas, nos apasiona la creación de soluciones innovadoras que faciliten la comunicación inclusiva y accesible para todos. </p>
            <a href="#" class="read-more"><span>Leer más</span><i class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="section why-us" data-builder="section">

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

            <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
              <h3><strong>Valor Social</strong></h3>
              <p>
                Utilizando técnicas avanzadas de aprendizaje automático y visión por computadora, nuestro objetivo es proporcionar una herramienta precisa y en tiempo real que permita a las personas sordas comunicarse de manera efectiva con aquellos que no conocen el lenguaje de señas.
              </p>
            </div>

            <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

              <div class="faq-item faq-active">

                <h3><span>01</span> ¿Cómo abordamos los desafíos?</h3>
                <div class="faq-content">
                  <p>Nos enfrentamos al desafío de garantizar que nuestra tecnología sea sensible y precisa en la interpretación de gestos complejos. Implementamos algoritmos sofisticados que reconocen patrones específicos de movimientos y expresiones faciales, asegurando una traducción fiel y comprensible.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span>02</span> ¿Qué impacto buscamos lograr?</h3>
                <div class="faq-content">
                  <p>Buscamos no solo facilitar la comunicación cotidiana, sino también fomentar la inclusión social y mejorar las oportunidades educativas y laborales para las personas sordas. Creemos que la tecnología puede derribar barreras y construir puentes entre diferentes comunidades lingüísticas y culturales.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span>03</span> ¿Cuál es nuestro compromiso?</h3>
                <div class="faq-content">
                  <p>Estamos comprometidos con la continua mejora de nuestra tecnología, colaborando con expertos en lingüística computacional y trabajando de cerca con la comunidad sorda para asegurar que nuestras soluciones satisfagan sus necesidades y expectativas.

                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 why-us-img">
            <img src="../static/assets/img/why-us.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>

      </div>

    </section><!-- /Why Us Section -->

    <section id="skills" class="skills section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">

          <div class="col-lg-6 d-flex align-items-center">
            <img src="../static/assets/img/skills.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 content">

            <h3>Tecnologias utilizadas para el proyecto</h3>
            <p class="fst-italic">
              Estas son las tecnologías que hemos empleado para desarrollar nuestra solución de traducción de lenguaje de señas a texto.
            </p>

            <div class="skills-content skills-animation">

              <div class="progress">
                <span class="skill"><span>PYTHON</span> <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Jupyter</span> <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->


              <div class="progress">
                <span class="skill"><span>CSS</span> <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->


              <div class="progress">
                <span class="skill"><span>JAVASCRIPT</span> <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

            </div>

          </div>
        </div>

      </div>

    </section><!-- /Skills Section -->

    <section id="services" class="services section">

      <div class="container section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>Aqui pueden encontrar la amplia variedad de servicios que ofrecemos.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4><a href="{{ url_for('service_details') }}" class="stretched-link">Conversión en Tiempo Real</a></h4>
              <p>Convertimos texto y voz a lenguaje de señas en tiempo real, facilitando la comunicación instantánea para personas sordas en diversas situaciones.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4><a href="{{ url_for('service_details') }}" class="stretched-link">Personalización y Adaptabilidad</a></h4>
              <p>Adaptamos nuestra tecnología para garantizar precisión en la conversión de voz a texto, independientemente del acento o dialecto regional.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4><a href="{{ url_for('service_details') }}" class="stretched-link">Interfaz Intuitiva y Accesible</a></h4>
              <p>Ofrecemos una interfaz fácil de usar que asegura accesibilidad y permite personalización según las necesidades individuales de los usuarios sordos.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4><a href="{{ url_for('service_details') }}" class="stretched-link">Soporte y Mejora Continua</a></h4>
              <p>Proporcionamos soporte técnico constante y actualizaciones para mejorar la precisión y la experiencia del usuario, basados en el feedback de la comunidad sorda y avances en inteligencia artificial.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <section id="call-to-action" class="call-to-action section">

      <img src="../static/assets/img/cta-bg.jpg" alt="">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Descubre nuestra herramienta de Traducción en Línea</h3>
<p>Explora nuestra plataforma online especializada en la Traducción de lenguaje de señas a Texto y experimenta todas las funcionalidades que tiene para ofrecer.</p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{ url_for('starter_page') }}">Empezar Ya</a>
          </div>
        </div>

      </div>

    </section><!-- /Call To Action Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nuestro Equipo</h2>
        <p>Conoce al increíble equipo que hace posible nuestro trabajo.</p>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="https://www.prescriptum.com.br/wp-content/uploads/2015/12/placeholder-usuario-500x500.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Frandy Aquino</h4>
                <span>CEO</span>
                <p>Desarrollador de Software</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="https://www.prescriptum.com.br/wp-content/uploads/2015/12/placeholder-usuario-500x500.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ronald Serre</h4>
                <span>CEO</span>
                <p>Desarrollador de Software</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="https://www.prescriptum.com.br/wp-content/uploads/2015/12/placeholder-usuario-500x500.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Cristian Encarnacion</h4>
                <span>CEO</span>
                <p>Desarrollador de Software</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member d-flex align-items-start">
              <div class="pic"><img src="https://www.prescriptum.com.br/wp-content/uploads/2015/12/placeholder-usuario-500x500.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Steven Jimenez</h4>
                <span>CEO</span>
                <p>Desarrollador de Software</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->
        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="{{ url_for('index') }}" class="d-flex align-items-center">
            <span class="sitename">GestureGuide</span>
          </a>
          <div class="footer-contact pt-3">
            <p><b>Samsung Innovation Campus</b></p>
            <p>Team: <b>Los Innominados</b></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Volver atrás</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#hero">Inicio</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">Sobre nosotros</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Servicios</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#team">Equipo</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Siguenos</h4>
          <p>Siguenos en nuestras redes sociales</p>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">GestureGuide</strong> <span>Todos los derechos reservados</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>